{erl_opts, [
            debug_info,
            warnings_as_errors,
            warn_export_all
           ]}.

{deps, [
        {esupervisor, ".*", {git, "git://github.com/spawngrid/esupervisor.git", "HEAD"}}
        % Uncomment during development
        , {sync, ".*", {git, "git://github.com/rustyio/sync.git", "HEAD"}}
       ]}.

% vim: ft=erlang
